@page
@using rikchallengeweb.Pages.Checkout
@using Newtonsoft.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ConfirmModel

<h2>Checkout Page - Confirmacao</h2>

Pagamento para: @Model._checkoutOrder.client.id <br/>
<br/>
<b>Pagador</b> <br/>
Nome: @Model._checkoutOrder.buyer.name <br/>
Email: @Model._checkoutOrder.buyer.eMail <br/>
CPF: @Model._checkoutOrder.buyer.cpf <br/>
<br/>
<b>Pagamento</b> <br/>
Valor: @Model._checkoutOrder.payment.amount  <br/>
Tipo: @Model._checkoutOrder.payment.type
<br/>

 @if (@Model._checkoutOrder.payment.type == "CREDIT_CARD")
 {
    @: <b>Cartão </b> <br/>
    @: Nome impresso: @Model._checkoutOrder.payment.card.holderName <br/>
    @: Número: @Model._checkoutOrder.payment.card.number <br/>
    @: Expiração (formato mm/yyyy): @Model._checkoutOrder.payment.card.expirationDate <br/>
    @: CVV: @Model._checkoutOrder.payment.card.cvv <br/>
 }
 
<br/>
<form method="post">
    Confirma as informações?
    <input asp-for="CheckoutOrder" />
    <button type="submit">Submit</button>
    <button type="submit" asp-page="./Identity">Voltar</button>
</form>